.about-us,
.mission,
.competition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 40px;
}

.text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    padding-bottom: 12px;
    hyphens: auto;
}

/* Tablet styles */
@media (max-width: 1024px) {
    .text,
    .image {
        width: 100%;
    }

    .about-us,
    .mission,
    .competition {
        flex-direction: column;
        text-align: center;
    }

    .text {
        text-align: left;
        padding: 0 20px;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 18px;
    }
    .text p {
        text-align: left;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .about-us,
    .mission,
    .competition {
        padding: 40px 0;
    }

    .text {
        padding: 0 15px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    .image img {
        max-height: 300px;
    }
}
