---
import LayoutEn from "../../layouts/Layout_En.astro";
import "../../styles/style.css";
import "../../styles/contact-us.css";
import instagram from "../../assets/social_icons/instagram.png";
import linkedin from "../../assets/social_icons/linkedin.png";
import tiktok from "../../assets/social_icons/tiktok.png";
import facebook from "../../assets/social_icons/facebook.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Perkūnas RT | Contact us</title>
  </head>
  <body>
    <LayoutEn>
      <div class="w-block first">
        <div class="container card">
          <div class="contact">
            <h1>Contact us!</h1>
            <div class="b-block form-container">
              <form
                class="form"
                method="post"
                netlify
              >
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Name" required />
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  required
                />
                <label for="message">Message</label>
                <textarea
                  name="message"
                  rows="4"
                  placeholder="Your message"
                  required></textarea>
                <label for="reason">Subject</label>
                <select name="reason" required>
                  <option value="">Select...</option>
                  <option value="sponsorship">Partnership</option>
                  <option value="recruitment">Membership</option>
                  <option value="Other">Other</option>
                </select>

                <button type="submit" class="w-block">Send</button>
              </form>
            </div>
          </div>
          <div class="info">
            <p>
                For partnership, membership in the organization, or other inquiries, use this form or send an 
                email to one of the following addresses:
              </p>
              
            <p>
              <span onclick="copyToClipboard()" class="support-email"
                >perkunasrt@gmail.com</span
              >
            </p>
            <p>
              <span onclick="copyToClipboard()" class="support-email"
                >benluk2@ktu.lt</span
              >
            </p>
            <p>
              <span onclick="copyToClipboard()" class="support-email"
                >deimic@ktu.lt</span
              >
            <p class="last"></p>
            <p style="text-align: center;">You can also contact us through social media!</p>
            <div class="contact-socials">
              <a
                href="https://www.instagram.com/perkunasrt_ktu/"
                target="_blank"
                ><img src={instagram.src} alt="instagram" width="70px" /></a
              >
              <a
                href="https://www.linkedin.com/company/perkunasrt/"
                target="_blank"
                ><img src={linkedin.src} alt="Linkedin" width="70px" /></a
              >
              <a
                href="https://www.tiktok.com/@perknasrt_ktu?is_from_webapp=1&sender_device=pc"
                target="_blank"
                ><img src={tiktok.src} alt="tiktok" width="70px" /></a
              >
              <a
                href="https://www.facebook.com/profile.php?id=61575797945434&mibextid=wwXIfr&rdid=w6NzlkfwTN15CfNp&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1AUCo2Zyu8%2F%3Fmibextid%3DwwXIfr"
                target="_blank"
                ><img src={facebook.src} alt="facebook" width="70px" /></a
              >
            </div>
          </div>
        </div>
      </div>
    </LayoutEn>
  </body>
</html>
