---
import LayoutEn from "../../layouts/Layout_En.astro";
import "../../styles/style.css";
import Team from "../../assets/TeamFromDrone.png";
import "../../styles/index.css";
import GIF from "../../assets/CarDriving.gif";
import Ansys from "../../assets/sponsors/ansys.png";
import EasyComposition from "../../assets/sponsors/easy-composites-logo-simple-curves.jpg"
---

<html lang="lt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Perkunas RT</title>
  </head>
  <body>
    <LayoutEn>
      <img src={Team.src} alt="Team" class="TeamImg first" />
      <div class="b-block">
        <div class="container slogan">
          <div class="slogan-text">
            <h1>The Speed of The Future</h1>
            <p class="first-p">
              We are not only designing a car, but also creating a vision of the future
            </p>
          </div>
          <div class="slogan-image">
            <img src={GIF.src} alt="Driving car" class="image-y" />
          </div>
        </div>
      </div>
      <div class="b-w"></div>
      <div class="w-block">
        <div class="container sponsors">
          <h1>Our Sponsors</h1>
          <div class="sponsor-row">
            <a href="https://www.ansys.com/" target="_blank"><img src={Ansys.src} alt="Ansys" height="120px" /></a>
            <a href="https://www.easycomposites.co.uk" target="_blank"><img src={EasyComposition.src} alt="EasyComposites" height="120px" /></a>
          </div>
        </div>
      </div>
    </LayoutEn>
  </body>
</html>
