---
import LayoutLt from "../layouts/Layout_Lt.astro";
import "../styles/style.css"
---
<html lang="lt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Perkūnas RT | Apie Mus</title>
    </head>
    <body>
        <LayoutLt>
            <div class="y-block">
                <div class="container">
                    <div>
                        About Us
                    </div>
                    <div>
                        CarInSun
                    </div>
                </div>
            </div>
            <div class="y-b">

            </div>
            <div class="b-block">
                <div class="container">
                    <div>
                        CarInGarage
                    </div>
                    <div>
                        Mission
                    </div>
                </div>
            </div>
            <div class="b-w">

            </div>
            <div class="w-block">
                <div class="container">
                    <div>
                        Competition
                    </div>
                    <div>
                        FormulaStudent
                    </div>
                </div>
            </div>
        </LayoutLt>
    </body>
</html>