---
import LayoutLt from "../layouts/Layout_Lt.astro";
import "../styles/style.css"
---
<html lang="lt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Perkūnas RT | Komanda</title>
    </head>
    <body>
        <LayoutLt>
            <div class="y-block">
                <div class="container">
                    <div>
                        Structure Info
                    </div>
                    <div>
                        ManagementImg
                    </div>
                </div>
            </div>
            <div class="y-b"></div>
            <div class="b-block">
                <div class="container">
                    <div>
                        Aerodynamics Info
                    </div>
                    <div>
                        Aerodynamics Lead
                    </div>
                </div>
            </div>
            <div class="b-w"></div>
            <div class="w-block">
                <div class="container">
                    <div>
                        Business Info
                    </div>
                    <div>
                        Business lead
                    </div>
                </div>
            </div>
            <div class="w-y"></div>
            <div class="y-block">
                <div class="container">
                    <div>
                        Electronics Info
                    </div>
                    <div>
                        Electronis Lead
                    </div>
                </div>
            </div>
            <div class="y-b"></div>
            <div class="b-block">
                <div class="container">
                    <div>
                        Software Info
                    </div>
                    <div>
                        Software Lead
                    </div>
                </div>
            </div>
            <div class="b-w"></div>
            <div class="w-block">
                <div class="container">
                    <div>
                        Mechanics 
                    </div>
                        <div>Chasis</div>
                        <div>PowerTrain</div>
                        <div>Suspensions</div>
                    <div>
                        <div>Mechnaics Lead</div>
                        <div>Chasis Lead</div>
                        <div>Powertrain Lead</div>
                        <div>Suspension Lead</div>
                    </div>
                </div>
            </div>
        </LayoutLt>
    </body>
</html>