---
import LayoutLt from "../layouts/Layout_Lt.astro";
import "../styles/style.css"
---
<html lang="lt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Perkūnas RT | Susisiekite</title>
    </head>
    <body>
        <LayoutLt>
            <div class="w-block">
                <div class="container">
                    <div>
                        Form
                    </div>
                    <div>
                        Socials and info
                    </div>
                </div>
            </div>
        </LayoutLt>
    </body>
</html>