---
import Logo from "../assets/logo.png";
import "../styles/navBar.css";
import "../styles/style.css";
---

<div class="b-block navBar">
    <div class="container containerNav">
        <div class="logo"><a href="/"><img src={Logo.src} alt="Perkūnas" width="250px"></a></div>
        <div class="linksNav">
            <a href="/apie-mus">APIE MUS</a>
            <a href="/komanda">KOMANDA</a>
            <a href="/partneriai">PARTNERIAI</a>
            <a href="/prisijunkite">PRISIJUNKITE</a>
            <a href="/paremkite">PAREMKITE</a>
            <a href="/susisiekite">SUSISIEKITE</a>
            <a href="/en">EN</a>
        </div>
    </div>
</div>
