---
import Logo from "../assets/logo.png";
import "../styles/navBar.css";
import "../styles/style.css";
---

<div class="b-block">
    <div class="container containerNav">
        <div class="logo"><a href="/en"><img src={Logo.src} alt="Perkunas" width="250px"></a></div>
        <div class="linksNav">
            <a href="/en/about-us">About Us</a>
            <a href="/en/team">Team</a>
            <a href="/en/partners">Partners</a>
            <a href="/en/join-us">Join Us</a>
            <a href="/en/support-us">Support Us</a>
            <a href="/en/contact-us">Contact Us</a>
            <a href="/">LT</a></div>
        </div>
    </div>
</div>
