---
import Logo from "../assets/logo.png";
import "../styles/navBar.css";
import "../styles/style.css";
---

<div class="b-block navBar">
    <div class="container containerNav">
      <div class="logo">
        <a href="/"><img src={Logo.src} alt="Perkūnas" class="logo-img"></a>
      </div>
  
      <div class="hamburgerWrapper">
        <div class="hamburger" onclick="toggleMenu()">☰</div>
        <div class="langSwitchMobile">
          <a href="/en">EN</a>
        </div>
      </div>
  
      <div class="linksNav" id="navLinks">
        <a href="/apie-mus">APIE MUS</a>
        <a href="/komanda">KOMANDA</a>
        <a href="/partneriai">PARTNERIAI</a>
        <a href="/prisijunkite">PRISIJUNKITE</a>
        <a href="/paremkite">PAREMKITE</a>
        <a href="/susisiekite">SUSISIEKITE</a>
        <div class="langSwitch">
          <a href="/en">EN</a>
        </div>
      </div>
    </div>
  </div>
  
  <script is:inline>
    function toggleMenu() {
      document.getElementById("navLinks").classList.toggle("active");
    }
  </script>
  